<!DOCTYPE html>
<html lang="de" class="ui-mobile">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Modello LF</title>
	<meta name="description" content="Modello Luciano Favilla">
	<link media="all" rel="stylesheet" href="./../../dist/css/app.css" />
	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="./../images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./../images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./../images/favicon-16x16.png">
	<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@300;400;700;800&display=swap" rel="stylesheet">
</head>

<body>

<section id="header" class="header">

	<div class="navbar normalHeader">
		<div class="container">
			<a href="">
				<img class="img-fluid logo" src="./../images/logo.svg" alt="logo" title="logo">
			</a>
			
			<!-- Menu elements-->
			<div class="menu">
				<img class="img-fluid logo_menu" src="./../images/logo.svg" alt="logo" title="logo">
				<div class="d-flex h-50 text-center">
					<ul class="align-self-center w-100">
						<li class=""><a href="">Link #1</a></li>
						<li class=""><a href="">Link #2</a></li>
						<li class=""><a href="">Link #3</a></li>
						<li class=""><a href="">Link #4</a></li>
						<li class=""><a href="">Link #5</a></li>
						
					</ul>
				</div>
			</div>
			<div class="menu__toggler"><span></span></div>
	
			<!-- Dropdown -->
			<div class="dropdown-on-top dropdown open float-right">
				<i class="fas fa-question-circle dropdown-toggle" id="dropdownMenu5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>			  
				<div class="dropdown-menu dropdown-menu-right">
				  <a class="dropdown-item" href="#!">Separated link</a>
				  <div class="dropdown-divider"></div>
				  <a class="dropdown-item" href="#!">Action</a>
				  <a class="dropdown-item" href="#!">Another action</a>
				</div>
			</div>

			<!-- Lingue -->
			<div class="lingue float-right">
				<ul class="align-self-center w-100">
					<li class="active"><a href="">IT</a></li>
					<li class=""><a href="">DE</a></li>
					<li class=""><a href="">EN</a></li>
				</ul>
			</div>

		</div>
	</div>
	<div class="payoff">
		<div class="content">
			<h2 class="mb-3">
				<div id="line1">
					<span id="a">Consectetur adipiscing elit</span><span id="b">Adipiscing elit consectetur</span>	
				</div>
			</h2>
			<a href="#intro"><i class="fas fa-2x fa-chevron-down jello-horizontal"></i></a>
		</div>
	</div>
</section>

<section id="intro" class="option_1 py-5 pt-xl pb-xl">
	<div class="container">
		<div class="row">
      		<div class="col-md-4">
				<h1 class="font-weight-bold">How it works</h1>
				<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
				<!-- ACCORDION -->
				<div id="accordion" role="tablist">
					<div class="card">
					  <div class="card-header" role="tab" id="headingOne">
						<h5 class="mb-0">
						  <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
							Accordion #1
						  </a>
						</h5>
					  </div>
				  
					  <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
						<div class="card-body">
							<ul class="lista">
								<li>Vestibulum</li>
								<li>Scelerisque</li>
								<li>Rutrum</li>
							</ul>
						</div>
					  </div>
					</div>
					<div class="card">
					  <div class="card-header" role="tab" id="headingTwo">
						<h5 class="mb-0">
						  <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							Accordion #2
						  </a>
						</h5>
					  </div>
					  <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
						<div class="card-body">
						  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
						</div>
					  </div>
					</div>
				</div>
				  
			</div>
			<div class="offset-md-1 col-md-7 pt-5 pt-md-0">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb small">
					  <li class="breadcrumb-item">You are here </li>
					  <li class="breadcrumb-item"><a href="#">Home</a></li>
					  <li class="breadcrumb-item"><a href="#">Library</a></li>
					  <li class="breadcrumb-item active" aria-current="page">Data</li>
					</ol>
				</nav>
				<p>Pellentesque condimentum congue sem vitae lacinia. Cras vel fermentum est, eu hendrerit ex. Nam rutrum leo a dui hendrerit, nec dapibus turpis imperdiet. Integer tristique dolor tincidunt turpis vestibulum, sed rutrum quam feugiat. Praesent commodo tempus elit ac tristique. Proin ut aliquam orci. Vestibulum dapibus massa ut vestibulum gravida. Aenean suscipit orci vel nunc tincidunt, sit amet vulputate leo euismod.</p>
				<h3 class="my-4">Donec et neque sagittis, porttitor tellus ut, scelerisque metus</h3>
				<p>Curabitur iaculis, lectus sed porttitor rutrum, lorem leo imperdiet diam, id varius augue nunc id tellus. Etiam luctus dui a mi commodo, in pulvinar odio imperdiet. Sed at dignissim justo.</p>
				<p>In tristique ex vel urna scelerisque congue. Ut quam risus, commodo nec ullamcorper non, imperdiet semper sapien. Duis eu orci vel mi vehicula ultricies. Nam rutrum felis eu diam vestibulum ultrices. Phasellus ut ligula eu metus volutpat lacinia. Nulla metus mauris, dictum ullamcorper varius et, semper vitae turpis.</p>
			</div>
		</div>
	</div>
</section>
<section class="option_3 pt-xl pb-xl">
	<div class="container">
		<div class="row">
			<div class="col-8 order-md-1">
				<h3>Image Gallery</h3>
			</div>
			<div class="col-md-4 mb-4 order-md-3">
				<!-- SQUARED IMAGE -->
				<a data-toggle="lightbox" data-gallery="gallery" href="./../images/foto.jpg">
					<figure title="foto" class="img-square overlay" style="background-image: url(./../images/foto.jpg);">
						<img class="" src="./../images/foto.jpg" alt="foto" title="foto">
					</figure>
				</a>
			</div>
			<div class="col-md-4 mb-4 order-md-4">
				<!-- RECTANGULAR IMAGE -->
				<a data-toggle="lightbox" data-gallery="gallery" href="./../images/foto_header.jpg">
					<figure title="foto" class="img-rect" style="background-image:url(./../images/foto_header.jpg)">
						<img src="./../images/foto_header.jpg" alt="foto" title="foto" style="opacity: 1;">
					</figure>
				</a>
			</div>
			<div class="col-4 order-md-2">
				<h3>Image Zoom</h3>
			</div>
			<div class="col-md-4 mb-4 order-md-5">
				<div class="zoom">
					<div class="child zoom1"></div>
				</div>
			</div>
		</div>

		<!-- SLIDER DEFAULT -->
		<hr>
		<h3>Slider Default</h3>
		<div class="slider_default">
			<div class="single_slider">
				<a href="">
					<figure class="img-rect overlay" style="background-image: url(./../images/foto_header.jpg);">
						<img src="./../images/foto_header.jpg" alt="foto" title="foto">
						<div class="d-none d-md-block caption-slider">
							<h3>Lorem Ipsum</h3>
							<p>Dolor sit amet</p>
						</div>	
					</figure>
				</a>
			</div>
			<div class="single_slider">
				<a href="">
					<figure class="img-rect" style="background-image: url(./../images/foto.jpg);">
						<img src="./../images/foto_header.jpg" alt="foto" title="foto">
						<div class="d-none d-md-block caption-slider">
							<h3>Lorem Ipsum</h3>
							<p>Dolor sit amet</p>
						</div>	
					</figure>
				</a>
			</div>
			<div class="single_slider">
				<a href="">
					<figure class="img-rect overlay" style="background-image: url(./../images/foto_header.jpg);">
						<img src="./../images/foto_header.jpg" alt="foto" title="foto">
					</figure>
				</a>
			</div>
			<div class="single_slider">
				<a href="">
					<figure class="img-rect" style="background-image: url(./../images/foto.jpg);">
						<img src="./../images/foto_header.jpg" alt="foto" title="foto">
					</figure>
				</a>
			</div>
		</div>
	</div>
</section>

<!-- INSTAWALL -->
<section id="instawall">
	<div class="container text-center pt-xl pb-xl">
		<h2>#Instagram Wall</h2>
		<p class="sottotitolo mb-2">follow us on instagram</p>

		<!-- Slider -->
		<div class="slider_instagram d-block d-md-none">
			<div class="single_slider">
				<a href="">
					<figure class="img-square" style="background-image: url(./../images/foto.jpg);">
						<img src="./../images/foto_header.jpg" alt="foto" title="foto">
					</figure>
				</a>
			</div>
			<div class="single_slider">
				<a href="">
					<figure class="img-square" style="background-image: url(./../images/foto_header.jpg);">
						<img src="./../images/foto_header.jpg" alt="foto" title="foto">
					</figure>
				</a>
			</div>
			<div class="single_slider">
				<a href="">
					<figure class="img-square" style="background-image: url(./../images/foto.jpg);">
						<img src="./../images/foto_header.jpg" alt="foto" title="foto">
					</figure>
				</a>
			</div>
			<div class="single_slider">
				<a href="">
					<figure class="img-square" style="background-image: url(./../images/foto_header.jpg);">
						<img src="./../images/foto_header.jpg" alt="foto" title="foto">
					</figure>
				</a>
			</div>
			<div class="single_slider">
				<a href="">
					<figure class="img-square" style="background-image: url(./../images/foto.jpg);">
						<img src="./../images/foto_header.jpg" alt="foto" title="foto">
					</figure>
				</a>
			</div>
			<div class="single_slider">
				<a href="">
					<figure class="img-square" style="background-image: url(./../images/foto_header.jpg);">
						<img src="./../images/foto_header.jpg" alt="foto" title="foto">
					</figure>
				</a>
			</div>
		</div>
		<!-- end slider -->

		<!-- Grid -->
		<div class="d-none d-md-block">
			<div class="row instagram_wall">
				<div class="col-4 grid">
					<a href="">
						<figure class="img-square overlay" style="background-image: url(./../images/foto.jpg);">
							<img src="./../images/foto_header.jpg" alt="foto" title="foto">
							<div class="layer">
								<img src="./../images/icon_instagram.png" alt="foto" title="foto">
							</div>	
						</figure>
					</a>
				</div>
				<div class="col-4 grid">
					<a href="">
						<figure class="img-square overlay" style="background-image: url(./../images/foto_header.jpg);">
							<img src="./../images/foto_header.jpg" alt="foto" title="foto">
							<div class="layer">
								<img src="./../images/icon_instagram.png" alt="foto" title="foto">
							</div>	
						</figure>
					</a>
				</div>
				<div class="col-4 grid">
					<a href="">
						<figure class="img-square overlay" style="background-image: url(./../images/foto.jpg);">
							<img src="./../images/foto_header.jpg" alt="foto" title="foto">
							<div class="layer">
								<img src="./../images/icon_instagram.png" alt="foto" title="foto">
							</div>	
						</figure>
					</a>
				</div>
				<div class="col-4 grid">
					<a href="">
						<figure class="img-square overlay" style="background-image: url(./../images/foto_header.jpg);">
							<img src="./../images/foto_header.jpg" alt="foto" title="foto">
							<div class="layer">
								<img src="./../images/icon_instagram.png" alt="foto" title="foto">
							</div>	
						</figure>
					</a>
				</div>
				<div class="col-4 grid">
					<a href="">
						<figure class="img-square overlay" style="background-image: url(./../images/foto.jpg);">
							<img src="./../images/foto_header.jpg" alt="foto" title="foto">
							<div class="layer">
								<img src="./../images/icon_instagram.png" alt="foto" title="foto">
							</div>	
						</figure>
					</a>
				</div>
				<div class="col-4 grid">
					<a href="">
						<figure class="img-square overlay" style="background-image: url(./../images/foto_header.jpg);">
							<img src="./../images/foto_header.jpg" alt="foto" title="foto">
							<div class="layer">
								<img src="./../images/icon_instagram.png" alt="foto" title="foto">
							</div>	
						</figure>
					</a>
				</div>
			</div>
		</div>
		<!-- end grid -->

		<a href="#" class="btn btn-secondary mt-3">View all posts</a>		
	</div>
</section>
<!-- fine INSTAWALL -->


<section class="option_2 pt-xl pb-xl">
	<div class="container">
	    <div class="row">
	    	<div class="col">
	    		<h2 class="font-weight-bold">Nam rutrum leo a dui hendrerit, nec dapibus.</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tristique porta ante sit amet elementum. Donec eu placerat tellus, et tincidunt justo. Pellentesque condimentum congue sem vitae lacinia.</p>
				<button type="button" class="btn btn-default mr-2 mb-2" data-toggle="tooltip" data-placement="top" title="Tooltip on top"> Tooltip on top</button>
				<button type="button" class="btn btn-default-outline mb-2" data-toggle="tooltip" data-placement="right" title="Tooltip on right"> Tooltip on right</button>
	    	</div>
	    </div>
	</div>
	<div class="candy"></div>
</section>

<section class="full_bg parallax">
	<div class="container">
	    <div class="row">
	    	<div class="col text-center">
	    		<h2 class="font-weight-bold">Nam rutrum leo a dui hendrerit, nec dapibus.</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<a data-toggle="modal" data-target="#exampleModal2" href="">
					<button type="button" class="btn btn-secondary" title="">Modal</button>
				</a>
	    	</div>
	    </div>
	</div>
</section>

<section class="formulario pt-xl pb-xl">
	<div class="container">
		<div class="row">
      <div class="col mb-4">
        <h2>Pellentesque condimentum congue sem vitae lacinia</h2>
      </div>
    </div>

	    <div class="row">
	    	<div class="col">
	    		<form>
	    			<div class="row form-inline">
					  <div class="form-group col-sm-6 col-lg-3">
					    <label for="unternehmensname">Unternehmensname *</label>
					    <input type="text" class="form-control col-12" id="unternehmensname" placeholder="" required>
					  </div>
					  <div class="form-group col-sm-6 col-lg-3">
					    <label for="lieferzonen">Adresse</label>
					    <input type="text" class="form-control col-12" id="lieferzonen" placeholder="">
					  </div>
					  <div class="form-group col-sm-12 col-lg-6">
					    <label for="stadt">Stadt *</label>
					    <select class=" col-12" required>
						  <option selected>Wählen</option>
						  <option value="1">Brixen</option>
						  <option value="2">Varhn</option>
						  <option value="3">Three</option>
						</select>
					  </div>
					</div>

					<div class="row form-inline">
					  <div class="form-group col-sm-6 col-lg-3">
					    <label for="vorname">Vorname</label>
					    <input type="text" class="form-control col-12" id="vorname" placeholder="">
					  </div>
					  <div class="form-group col-sm-6 col-lg-3">
					    <label for="nachname">Nachname *</label>
					    <input type="text" class="form-control col-12" id="nachname" placeholder="" required>
					  </div>
					  <div class="form-group col-sm-6 col-lg-3">
					    <label for="email">E-Mail *</label>
					    <input type="email" class="form-control col-12" id="email" placeholder="" required>
					  </div>
					  <div class="form-group col-sm-6 col-lg-3">
					    <label for="telefon">Telefon *</label>
					    <input type="text" class="form-control col-12" id="telefon" placeholder="" required>
					  </div>
					</div>

					<div class="row form-inline">
					  <div class="form-group col-sm-12">
					    <label for="nachricht">Nachricht</label><br>
					    <textarea id="w3mission" rows="8"></textarea>
					  </div>
					</div>

					<div>
            <label>
              <input class="checkbox" type="checkbox"> A seguito dell’<a href="" title="informativa">informativa ricevuta</a> fornisco il consenso al trattamento dei miei dati personali
            </label>
            <label>
              <input class="checkbox" type="checkbox"> Fornisco il mio consenso facoltativo al trattamento per l’invio di newsletter od altre comunicazioni promozionali
            </label>
					</div>

					<div class="row form-inline">
						<div class="form-group col">
					  		<button type="submit" class="btn btn-default mt-4">Anfragen</button>
					  	</div>
					</div>

				</form>
	    	</div>
	    </div>
	</div>
</section>

<section class="footer">
	<div class="container">
		<span class="noTop flicker-1">
			<a href="#header"><i class="fas fa-chevron-up"></i></a>
		</span>
	    <div class="row no-gutters">
	    	<div class="col-3 col-md-1 order-2 order-md-1">
          <img class="img-fluid" src="./../images/logo.svg" alt="logo" title="logo">
	    	</div>
	    	<div class="col-9 col-md-6 pl-3 order-3 order-md-2">
	    		<p>2020 © Phasellus vehicula placerat<br>
            Donec et neque sagittis - Sudtirol, Italy<br>
   				<a href="tel:123456789"><i class="fas fa-phone-alt"></i> 123456789</a></p>
	    	</div>
	    	<div class="col-md-5 text-right order-1 order-md-3 mb-5 mb-md-0">
	    		<p class="lingue"><a href="#">DE</a> <span class="d-inline-block mx-2"></span> <a href="#">IT</a> <a href="#"><i class="fab fa-2x fa-facebook ml-4"></i></a></p>
				<p><a data-toggle="modal" data-target="#exampleModal2" href="">Impressum MODAL</a> | <a href="">Datenschutz & Cookies</a></p>
	    	</div>
	    </div>
	</div>
</section>

<script src="./../../dist/js/app.js"></script>
<script src="./../../dist/js/vendors.js"></script>

<!-- Impressum -->
<div class="modal fade allergens-modal-lg" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
		<div class="modal-header">
			<h3 class="modal-title" id="exampleModal2Label">Impressum</h3>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">×</span>
			</button>
		</div>
		<div class="modal-body">
      <p>Phasellus nec est a lorem vehicula placerat. Praesent scelerisque ac arcu ac suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum quam orci, vel semper purus sollicitudin vitae. Fusce leo magna, bibendum interdum facilisis vel, tincidunt in nulla.</p>
      <div class="text-center"><img class="img-fluid p-5" src="./../images/illustration.svg" alt="draw" title="draw"></div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
		</div>
	</div>
</div>

</body>
</html>